/***** BASE STYLES *****/

body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;
}

.full-width{
    width:1200px;
    margin: 0 auto;
    overflow: 0 auto;
    padding:80px;

}
.half-width{
    width:600px;
    float:left;
    
}

.third-width{
    width:400px;
   float:left;
   
}

.half-width nav ul{
    float:left;
    list-style-type:none;

}
header li{
    display:inline;
    padding-right:80px;
    padding-left:20px;
}
li a{
   
    text-decoration:none;
    font-family: 'Source sans pro';
    font-size:18px;
    color:#828282;
    text-transform: uppercase;
    
}
header h1{
    font-family: 'lora';
    font-size:30px;
    color:#bbc085;
}
header span{
    
    
    font-family: 'lora';
    font-size:72px;
    line-height:80px;
    color:#2b2b2b;
}

header h2{
    margin-left:80px;
    font-family: 'lora';
    font-size:72px;
    line-height:80px;
    color:#9b9b9b;
    position:relative;
}
header{
    background-image:url("../img/full-background.png");
    background-repeat:no-repeat;
    background-size: cover;
    height:700px;
}
#about{
   height:600px;
}
#about h2{
  font-family: 'lora';
  color:#2b2b2b;
  font-size:36px;

}
#about p{
    font-family: 'Source Sans Pro';
    color:#7f7f7f;
    font-size:21px;
    line-height:40px;
    padding-right:70px; 
    padding-bottom:100px;
    text-align:justify;
  
}
 #work{
       background-color:#f9ceb7;
      height:600px;
      background-size: cover;
 }     
 #work .full-width{
     padding:115px 0;
 }

#work  p, h3{
   text-align: center;
}

#work img{
    padding-bottom:30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#work  p{
    font-family: 'lora';
    color:#2b2b2b;
    font-size:18px;
    line-height:30px;
    padding-right:50px; 
    
}
#work h3{
    font-family: 'Source Sans Pro';
    color:#2b2b2b;
    font-size:24px;
    line-height:32px;
    margin :0 auto;    
}

#contact{
     height:598px;
    background-color:#ebebeb;
}

#contact img#contact-icon{
        border-color:white;
        border-width:12px;
        border-style:solid;
}
#contact h2{
    font-family: 'lora';
    font-size:36px; 
    color:#2b2b2b;
    line-height:44px; 
}
#contact h3,h4{
    font-family: 'Source Sans Pro';
    color:#2b2b2b;
    line-height:44px;  
}

#contact h3{
     font-size:32px;
    padding-left:4px;
    margin-top:0px;
     font-weight:lighter;
    text-align:left;
     padding-left:78px;
}
#contact h2,h3{
    margin-bottom:2px;
}
#contact a{
    font-family:'Source Sans Pro';
    font-size:28px;
    color:#c49075;
    text-decoration:none;
}
#contact h4{
    font-size:29px;  
    font-weight: bold;
}
footer li{
    display:inline;
    padding-right:30px;
    padding-left:40px;
}
#contact h2,h4,img#envelope-icon{
    padding-left:78px;
}